<!-- Main Content area -->
<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="paymentinfoform" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput type="number" formControlName="numberOfNights" placeholder="No Of Nights">

          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput type="number" formControlName="totalGrossPrice" maxlength="35" placeholder="Gross Price">

          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput readonly type="number" formControlName="paid" placeholder="Paid">

          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput type="number" formControlName="commision" placeholder="Commision (%)">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput type="number" formControlName="commissionAddins" placeholder="Commision Addins">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input readonly matInput type="number" formControlName="netPrice" placeholder="Net Price">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
          <mat-form-field>
            <input matInput type="number" formControlName="totalAddins" placeholder="Total for Addins">
          </mat-form-field>
        </div>
        <div class="col-md-3 form-group">
          <mat-form-field>
            <input matInput type="number" formControlName="balance" placeholder="Balance">
          </mat-form-field>
        </div>
        <div class="col-md-3 form-group">
          <mat-form-field>
          <input matInput type="number" formControlName="registrationFee" placeholder="Registration Fee">
        </mat-form-field>
        </div>
        <div class="col-md-3 form-group">
          <button mat-raised-button (click)="calculate()" type="button" class="btn btn-primary">Calculate</button>
        </div>
      </div>
      <div class="row" style="margin-bottom: 40px;">
        <div class="col-md-12">
          <div class="col-md-12">
            <button style="margin-right: 10px;" mat-raised-button type="button" class="btn btn-primary"
              (click)="navigateByURL('student-Loa',true)" target="_blank">Student Invoice</button>
            <button mat-raised-button style="margin-right: 10px;" type="button" class="btn btn-primary"
              (click)="navigateByURL('agent-invoice', true)" target="_blank">Agent Invoice</button>
            <button mat-raised-button style="margin-right: 10px;" type="button" class="btn btn-primary"
              (click)="navigateByURL('loa-invoice-no-price', false)" target="_blank">LOA (No Price)</button>
            <button mat-raised-button style="margin-right: 10px;" type="button" class="btn btn-primary"
              (click)="navigateByURL('loa-invoice-with-price', true)" target="_blank">LOA (With Price)</button>
          </div>
          <div class="col-md-12">
            <button mat-raised-button style="margin-right: 10px;" type="button" class="btn btn-primary"
              (click)="navigateByURL('loa-group-invoice', true)" target="_blank">LOA - Group </button>
            <button mat-raised-button style="margin-right: 10px;" type="button" class="btn btn-primary"
              (click)="navigateByURL('student-invitation', true)" target="_blank">Invitation</button>
            <button mat-raised-button style="margin-right: 10px;" type="button" class="btn btn-primary"
              (click)="navigateByURL('student-Airport-Invoice', true)" target="_blank">Airport Doc </button>
            <button mat-raised-button style="margin-right: 10px;" type="button" class="btn btn-primary"
              (click)="navigateByURL('student-certificate',true)" target="_blank">Certificate</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <mat-checkbox formControlName="isStudentInvoice" class="col-md-2">Student Invoice</mat-checkbox>
          <mat-checkbox formControlName="isAgentInvoice" class="col-md-2">Agent Invoice</mat-checkbox>
          <mat-checkbox formControlName="isLoaInvoiceWithNoPrice" class="col-md-2">LOA No Price</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <mat-checkbox formControlName="isLoaInvoice" class="col-md-2">LOA With Price</mat-checkbox>
          <mat-checkbox formControlName="isLoaGroupInvoice" class="col-md-2">LOA - Group</mat-checkbox>
          <mat-checkbox formControlName="isStudentInvitation" class="col-md-2">Invitation</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <mat-checkbox formControlName="isAirportInvoice" class="col-md-2">Airport Doc</mat-checkbox>
          <mat-checkbox formControlName="isStudentCertificate" class="col-md-2">Certificate</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 form-group">
          <mat-radio-group formControlName="emailType">
            <mat-radio-button value="1">Agency</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="2">Custom</mat-radio-button>
          </mat-radio-group>
          <mat-form-field *ngIf="paymentinfoform.controls['emailType'].value == 1">
            <mat-select placeholder="Agency Email" formControlName="studentEmail">
              <mat-option *ngFor="let res of agentList; let i = index" [value]="res.email">
                {{res.email}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="paymentinfoform.controls['emailType'].value == 2 ">
            <input matInput placeholder="Enter Email" formControlName="studentEmail">
          </mat-form-field>
          <button *ngIf="paymentinfoform.controls['emailType'].value" mat-raised-button (click)="sendEmail()"
            type="button" class="btn btn-secondary">Email</button>
          <button *ngIf="isEdit" style="margin-left: 10px;" mat-raised-button (click)="openPaymentDialog()"
            type="button" class="btn btn-secondary" color="primary">Add Payment</button>
        </div>
      </div>
    </form>
    <div class="all-show-grid" style="margin-top: 65px;height: 200px;overflow: auto !important;">
      <ag-grid-angular style="width: 1100px; height: 100%; min-width: 1100px;" class="ag-theme-material"
        [enableColResize]="true" enableColResize enableSorting enableFilter groupHeaders suppressRowClickSelection
        toolPanelSuppressGroups toolPanelSuppressValues (gridReady)="onGridReady($event)"
        (cellDoubleClicked)="onCellClicked($event)" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [modules]="modules"
        [rowData]="groupPaymentList" #grid></ag-grid-angular>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left" (click)="onSubmit()"
        color="primary">Save</button>
        <button mat-raised-button class="btn btn-primary m-left" color="primary"
        (click)="saveAndClose()">Save & Close </button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>
      <!-- Student Invoices -->
      <!-- Student Invoices -->
    </div>
  </mat-card-actions>
</mat-card>
