<!-- Main Content area -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon (click)="location.back()" class="cursor"> <i class="material-icons">
          arrow_back
        </i></mat-icon>
      <h3 class="form-heading">{{isEdit ? 'UPDATE TRIP' : 'CREATE TRIP'}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="trips" placeholder="Trip" type="text">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="year" placeholder="Year" type="number">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input formControlName="tripsDate" matInput [matDatepicker]="picker" placeholder="Trips Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <textarea cols="50" rows="5" class="text-area" class="form-control" formControlName="notes"
            placeholder="Notes"></textarea>
        </div>
        <div class="col-md-4 form-group">
          <label></label>
          <mat-slide-toggle formControlName="active">Active
          </mat-slide-toggle>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left" color="primary"
        (click)="onSubmit()">{{isEdit ? 'Update' : 'Create'}}</button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>

    </div>
  </mat-card-actions>
</mat-card>
