::ng-deep.mat-drawer {
  width: 250px !important;
  color: #fff !important;
  background-color: #283593 !important;
}
.mat-expansion-panel {
  color: #fff !important;
  background-color: #283593 !important;
}
.mat-expansion-panel-header-title {
  color: #fff !important;
}
::ng-deep.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: #fff !important;
}
.mat-list-base .mat-list-item {
  color: #fff !important;
}
.mat-drawer-container {
  height: 100vh;
}
.p-4 {
  padding: 1.5rem!important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem!important;
}
.mt-3, .my-3 {
  margin-top: 1rem!important;
}
