<mat-sidenav-container [hasBackdrop]="isMobile ? true : false">
  <mat-sidenav #sidenav [mode]="'push'" [opened]="false">
    <perfect-scrollbar>
      <div class="p-4">
        <a><img alt="" height="100%" src="assets/images/logo-header.png" width="100%"></a>
      </div>
      <div class="mb-5 mt-3"></div>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header class="disable_ripple">
          <mat-panel-title>
            Registration
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/groups'">
            <mat-icon>people</mat-icon> &nbsp; Eli Groups
          </a>
          <a mat-list-item [routerLink]="'/students'">
            <mat-icon>person</mat-icon> &nbsp; Eli Individuals
          </a>
          <a mat-list-item [routerLink]="'/config'">
            <mat-icon>settings</mat-icon> &nbsp; Configs
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel (opened)="secondPanelOpenState = true" (closed)="secondPanelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            List Items
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/agents'">
            <mat-icon>account_tree</mat-icon> &nbsp; Agents
          </a>
          <a mat-list-item [routerLink]="'/rooms'">
            <mat-icon>house</mat-icon> &nbsp; Rooms
          </a>
          <a mat-list-item [routerLink]="'/homestays'">
            <mat-icon>hotel</mat-icon> &nbsp; Homestays
          </a>
          <a mat-list-item [routerLink]="'/trips'">
            <mat-icon>trip_origin</mat-icon> &nbsp;Trips
          </a>
          <a mat-list-item [routerLink]="'/addins'">
            <mat-icon>category</mat-icon> &nbsp;Addins
          </a>
          <a mat-list-item [routerLink]="'/campus'">
            <mat-icon>store</mat-icon> &nbsp;Campus
          </a>
          <a mat-list-item [routerLink]="'/programs'">
            <mat-icon>add_to_queue</mat-icon> &nbsp;Program
          </a>
          <a mat-list-item [routerLink]="'/subPrograms'">
            <mat-icon>select_all</mat-icon> &nbsp;Sub Program
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <!-- <mat-nav-list>
        <a mat-list-item [routerLink]="'/users'">
          <mat-icon>account_box</mat-icon> &nbsp; Users
        </a>
      </mat-nav-list> -->
      <br>
      <mat-expansion-panel (opened)="reportPanelOpenState = true" (closed)="reportPanelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reports
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item [routerLink]="'/payment-summary-report'">
            <mat-icon>perm_contact_calendar</mat-icon> &nbsp; Payment Summary
          </a>
          <a mat-list-item [routerLink]="'/airport-report'">
            <mat-icon>flight_takeoff</mat-icon> &nbsp; Airport Report
          </a>
          <a mat-list-item [routerLink]="'/insurance-report'">
            <mat-icon>supervisor_account</mat-icon> &nbsp; Insurance Report
          </a>
          <a mat-list-item [routerLink]="'/trip-report'">
            <mat-icon>supervisor_account</mat-icon> &nbsp; Trips Report
          </a>
          <a mat-list-item [routerLink]="'/site-report'">
            <mat-icon>supervisor_account</mat-icon> &nbsp; Site By Date Report
          </a>
          <!-- <a mat-list-item [routerLink]="'/group-report'">
            <mat-icon>supervisor_account</mat-icon> &nbsp; Group Report
          </a>
          <a mat-list-item [routerLink]="'/trip-report'">
            <mat-icon>rowing</mat-icon> &nbsp; Trip Report
          </a>
          <a mat-list-item [routerLink]="'/homestay-report'">
            <mat-icon>store</mat-icon> Homestay Report
          </a> -->
        </mat-nav-list>
      </mat-expansion-panel>
    </perfect-scrollbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="margin-bottom: 10px;" color="primary">
      <mat-toolbar-row>
        <button style="background-color: #283593;
        color: #fff;" mat-icon-button>
          <mat-icon (click)="toggle(sidenav)">menu</mat-icon>
        </button>
        <span class="menu-title">{{title}}</span>
        <span class="menu-spacer"></span>
        <div class="menu-icon">
          <button style="color: black;" class="menu" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="logout()" mat-menu-item>
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
            <button mat-menu-item>
              <mat-icon>settings_applications</mat-icon>
              <span>Settings</span>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="full-width" id="mainContent">
      <router-outlet></router-outlet>
    </main>
    <!-- <div class="container" [ngStyle]="{'margin-left' : sidenav.opened ? '0' : 'auto'}">
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
