<div class="container">
  <div class="d-flex">
    <mat-icon class="cursor" (click)="location.back()"> <i class="material-icons">
        arrow_back
      </i></mat-icon>
    <h3 class="form-heading">{{isEdit ? 'UPDATE GROUP PROGRAM' : 'CREATE GROUP PROGRAM'}}</h3>
  </div>

  <form class="form mat-dialog-content" [formGroup]="programeFrom">

    <table width="100%">
      <tr>
        <td>
          <mat-form-field>
            <mat-select (selectionChange)="getSubProgram($event)" placeholder="Program" formControlName="programId">
              <mat-option *ngFor="let res of programList; let i = index" [value]="res.id">
                {{res.programName}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </td>
        <!-- <td>
          <mat-form-field>
            <mat-select placeholder="Chap Program" formControlName="chapFamily">
              <mat-option *ngFor="let res of chapProgramList; let i = index" [value]="res.name">
                {{res.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </td> -->
        <td>
          <mat-form-field>
            <input formControlName="programeStartDate" matInput [matDatepicker]="picker"
              placeholder="Programe Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>

        <td>

          <mat-form-field>
            <input formControlName="programeEndDate" matInput [matDatepicker]="picker1" placeholder="Programe End Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Campus" formControlName="campus">
              <mat-option *ngFor="let res of campusList; let i = index" [value]="res.id">
                {{res.campus}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="Format" formControlName="format">
              <mat-option *ngFor="let res of formatList; let i = index" [value]="res.value">
                {{res.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Meal Plan" formControlName="mealPlan">
              <mat-option *ngFor="let res of mealPlanList; let i = index" [value]="res.name">
                {{res.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="Programe Addins" formControlName="programeAddins" multiple>
              <mat-option *ngFor="let res of programeAddinsList; let i = index" [value]="res.id">
                {{res.addins}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div class="text-right">
      <button mat-raised-button color="primary" (click)="onSubmit()" type="button" class="btn">Save</button>
      <button mat-raised-button color="warn" (click)="location.back()" type="button" class="btn">Cancel</button>
    </div>
  </form>
</div>
