<!-- Main Content area -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon (click)="location.back()" class="cursor"> <i class="material-icons">
          arrow_back
        </i></mat-icon>
      <h3 class="form-heading">{{isEdit ? 'UPDATE AGENT' : 'CREATE AGENT'}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="agent" placeholder="Agent Name"
              [required]="submitted && registerForm.controls['agent'].hasError('required')">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="contact" placeholder="Contact Person"
              [required]="submitted && registerForm.controls['contact'].hasError('required')">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="phone" placeholder="Phone" (input)="onPhoneNumberChanged()">
          </mat-form-field>
          <div class="error-msg" *ngIf="submitted && registerForm.controls['phone'].hasError('required')">
            *Required Field
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="country" placeholder="Country/Region"
              [required]="submitted && registerForm.controls['country'].hasError('required')">
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="web" placeholder="Website">
          </mat-form-field>
          <div class="error-msg" *ngIf="submitted && registerForm.controls['web'].hasError('required')">
            *Required Field
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label></label>
          <mat-slide-toggle formControlName="active">Active
          </mat-slide-toggle>
          <mat-error *ngIf="submitted && registerForm.controls['active'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <textarea cols="50" rows="5" class="text-area" class="form-control" formControlName="address"
            placeholder="Address"></textarea>
        </div>
        <div class="col-md-4 form-group">
          <textarea cols="50" rows="5" class="text-area" class="form-control" formControlName="notes"
            placeholder="Price Discount Notes"></textarea>
        </div>

      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left" color="primary"
        (click)="onSubmit()">{{isEdit ? 'Update' : 'Create'}}</button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>

    </div>
  </mat-card-actions>
</mat-card>
