<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="tripForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-6 form-group">
          <mat-form-field>
            <mat-select placeholder="Select Trip" formControlName="studentTrips" multiple>
              <mat-option *ngFor="let res of tripList; let i = index" [value]="res.id">
                {{res.trips}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left" (click)="onSubmit()" color="primary">Save</button>
      <button mat-raised-button class="btn btn-primary m-left" color="primary" (click)="saveAndClose()">Save & Close
      </button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
