<!-- Main Content area -->
<ngx-loading [show]="loading"></ngx-loading>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon (click)="location.back()" class="cursor"> <i class="material-icons">
          arrow_back
        </i></mat-icon>
      <h3 class="form-heading">{{isEdit ? 'UPDATE HOMESTAY' : 'CREATE HOMESTAY'}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="reference" maxlength="35" placeholder="Reference"
              [required]="submitted && registerForm.controls['reference'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['reference'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Name"
              [required]="submitted && registerForm.controls['name'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['name'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="cellNumber" placeholder="Cell Number"
              [required]="submitted && registerForm.controls['cellNumber'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['cellNumber'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email"
              [required]="submitted && registerForm.controls['email'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['email'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="address" placeholder="Address"
              [required]="submitted && registerForm.controls['address'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['address'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="region" placeholder="Region"
              [required]="submitted && registerForm.controls['region'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['region'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="intersection" placeholder="Intersection"
              [required]="submitted && registerForm.controls['intersection'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['intersection'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="distance" placeholder="Distance to TTC Station"
              [required]="submitted && registerForm.controls['distance'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['distance'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="meals" placeholder="Meals"
              [required]="submitted && registerForm.controls['meals'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['meals'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Student Preference" formControlName="prefer">
              <mat-option *ngFor="let res of preferenceList; let i = index" [value]="res.name">
                {{res.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && registerForm.controls['prefer'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="rooms" placeholder="Rooms"
              [required]="submitted && registerForm.controls['rooms'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['rooms'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Agreement Signed" formControlName="aggrements">
              <mat-option *ngFor="let res of lookupList; let i = index" [value]="res.name">
                {{res.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && registerForm.controls['aggrements'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="homeStayLocationURL" placeholder="Home Stay Location URL"
              [required]="submitted && registerForm.controls['homeStayLocationURL'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['homeStayLocationURL'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Police Check" formControlName="policeCheck">
              <mat-option *ngFor="let res of lookupList; let i = index" [value]="res.name">
                {{res.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && registerForm.controls['policeCheck'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <label></label>
          <mat-slide-toggle formControlName="active">Active
          </mat-slide-toggle>
          <mat-error *ngIf="submitted && registerForm.controls['active'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
      </div>
      <div *ngIf="registerForm.controls['homeStayLocationURL'].value"
        [innerHTML]='registerForm.controls["homeStayLocationURL"].value | safeHtml'></div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left"
        (click)="onSubmit()" color="primary">{{isEdit ? 'Update' : 'Create'}}</button>
     <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>

    </div>
  </mat-card-actions>
</mat-card>
