<ngx-loading [show]="loading"></ngx-loading>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon class="cursor" (click)="location.back()"> <i class="material-icons">
          arrow_back
        </i></mat-icon>
      <h3 class="form-heading">{{isEdit ? 'UPDATE GROUP' : 'CREATE GROUP'}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select [disabled]="true" placeholder="Year" formControlName="year">
              <mat-option *ngFor="let res of yearList; let i = index" [value]="res.value">
                {{res.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && registerForm.controls['year'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input formControlName="arrivalDate" matInput [matDatepicker]="picker" placeholder="Arrival Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="submitted && registerForm.controls['arrivalDate'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input formControlName="departureDate" matInput [matDatepicker]="picker1" placeholder="Departure Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="submitted && registerForm.controls['departureDate'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
        <div hidden="true" class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="refNumber" placeholder="Ref Number"
              [required]="submitted && registerForm.controls['refNumber'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['refNumber'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="agencyRef" placeholder="Agency Ref#">
            <mat-error *ngIf="submitted && registerForm.controls['agencyRef'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="terminal" placeholder="Terminal">
            <mat-error *ngIf="submitted && registerForm.controls['terminal'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="departureTerminal" placeholder="Departure Terminal">
            <mat-error *ngIf="submitted && registerForm.controls['departureTerminal'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select (selectionChange)="selectValue($event.value)" placeholder="Agency Name" formControlName="agentID">
              <mat-option *ngFor="let res of agentList; let i = index" [value]="res.id">
                {{res.agent}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && registerForm.controls['agentID'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="flightNumber" placeholder="Flight Number">
            <mat-error *ngIf="submitted && registerForm.controls['flightNumber'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="departureFlightNumber" placeholder="Departure Flight Number">
            <mat-error *ngIf="submitted && registerForm.controls['departureFlightNumber'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
          <mat-error *ngIf="submitted && registerForm.controls['departureFlightNumber'].hasError('required')">
            *Required Field
          </mat-error>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="country" placeholder="Country/Region"
              [required]="submitted && registerForm.controls['country'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['country'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="destinationFrom" placeholder="Destination From">
            <mat-error *ngIf="submitted && registerForm.controls['destinationFrom'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="destinationTo" placeholder="Destination To">
            <mat-error *ngIf="submitted && registerForm.controls['destinationTo'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <label></label>
          <mat-slide-toggle formControlName="active">Active
          </mat-slide-toggle>
          <mat-error *ngIf="submitted && registerForm.controls['active'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
        <div class="col-md-4 form-group">
          <mat-label>Flight Arrival Time</mat-label>
          <kendo-timepicker [placeholder]="'Arrival Time'" class="form-control" formControlName="arrivalTime"></kendo-timepicker>
          <mat-error *ngIf="submitted && registerForm.controls['arrivalTime'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
        <div class="col-md-4 form-group">
          <mat-label>Flight Departure Time</mat-label>
          <kendo-timepicker [placeholder]="'Flight Departure Time'" class="form-control" formControlName="flightDepartureTime"></kendo-timepicker>
          <mat-error *ngIf="submitted && registerForm.controls['flightDepartureTime'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Invoice Type" formControlName="invoiceType">
              <mat-option *ngFor="let res of invoiceTypeList; let i = index" [value]="res.value">
                {{res.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
         <button mat-raised-button class="btn btn-primary" (click)="navigateToInvoice()">Invoice</button>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
      <button type="submit" mat-raised-button class="btn btn-primary m-left" (click)="onSubmit()"
        color="primary">{{isEdit ? 'Update' : 'Create'}}</button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>
      <button mat-raised-button *ngIf="isEdit" (click)="openTripDialog()" type="button" class="btn btn-secondary">
        Trips Manager</button>
      <button mat-raised-button *ngIf="isEdit" [routerLink]="'/group-program'" [queryParams] = "{groupId: getGroupId()}" type="button"
        class="btn btn-secondary">Program</button>
      <button mat-raised-button *ngIf="isEdit" [routerLink]="'/group-payment'" [queryParams] = "{groupId: getGroupId()}" type="button"
        class="btn btn-secondary">Group Payments</button>
    </div>
  </mat-card-actions>
</mat-card>
