<div id="invoice">
  <div class="invoice overflow-auto">
    <div class="container-fluid" style="min-width: 600px">
      <div id="btns" class="action-panel no-print">
        <button (click)="captureScreen()" mat-raised-button class="btn btn-primary" color="primary">Download</button>
        <button (click) = "print()"mat-raised-button class="btn btn-secondary">Print</button>
      </div>
      <header>
        <div class="row">
          <div class="col">
            <a target="_blank" href="#">
              <img src="assets/images/logo.png" width="270px" data-holder-rendered="true" />
            </a>
          </div>
          <div class="col company-details">
            <h3 class="name">
              Eli Camps
            </h3>
            <div>1.416.305.3143</div>
            <div>www.elicamps.com</div>
            <div>info@elicamps.com</div>
          </div>
        </div>
      </header>
      <main>
        <div class="row contacts">
          <div class="col-md-4  invoice-to">
            <!-- <div class="text-gray-light"><b>Invoice Date:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{currentDate | date:'longDate' }}
            </div> -->
          </div>
          <div class="col-md-8 ">
            <h4 class="">LETTER OF INVITATION </h4>
          </div>
        </div>
        <div class="row contacts">
          <div class="col-md-12 mtable">
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody style="line-height: 0.05;">
                <tr>
                  <td style="width: 15%;"><b>Student Name:</b></td>
                  <td style="width:25%">{{student?.firstName}}&nbsp;{{student?.lastName}}</td>
                  <td class="text-right" style="width: 30%; vertical-align: text-top ;"><b></b></td>
                  <td style="width: 35%;">
                  </td>
                </tr>
                <tr>
                  <td style="width: 15%;"><b>Student Number:</b></td>
                  <td style="width:20%">{{student?.reg_Ref}}</td>
                  <!-- <td class="text-right" style="width: 30%; vertical-align: text-top ;"><b></b></td>
                  <td style="width: 35%;">{{student?.homeAddress}}
                  </td> -->
                </tr>
                <tr>
                  <td style="width: 15%;"><b>Date Of Birth:</b></td>
                  <td style="width:20%">{{student?.dob | date:'longDate'}}</td>
                  <td class="text-right" style="width: 30%; vertical-align: text-top ;"></td>
                </tr>
                <tr>
                  <td style="width: 15%;"><b>Passport Number:</b></td>
                  <td style="width:20%">{{student?.passportNumber}}</td>
                  <td class="text-right" style="width: 30%; vertical-align: text-top ;"></td>
                  <td style="width: 35%;">
                  </td>
                </tr>
                <!-- <tr>
                  <td style="width: 15%;"><b></b></td>
                  <td style="width:20%"></td>
                  <td class="text-right" style="width: 30%; vertical-align: text-top ;"></td>
                  <td style="width: 35%;">Mexico.
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="">
          <h6>Dear {{student?.firstName.toUpperCase()}}&nbsp;{{student?.lastName.toUpperCase()}}</h6>
          <p> On behalf of EliCamps I would like to extend our invitation to you at our summer camp in Toronto, Ontario
            from {{student?.programeStartDate | date: 'longDate'}} to {{student?.programeEndDate | date: 'longDate'}}. The program will be hosted and held at the {{getCampus(student?.campus)}}.</p>
          <p>
            The program is a combination of English lessons and visits to renowed attractions in Toronto and Ontario.
            All preparetions have been made and a place has been reserved for you and your group in our campus.
          </p>
          <p>Should you have any questions, please feel free to contact us anytime. We are more than happy to help.
          </p>
          <div class="row">
            <div class="col-8">
              <p>Sincerely<br>Eli Camps Admissions</p>
              <br>
              <img src="assets/images/aaa.png" width="350px" alt="signature">
              <br>
              <p>Elvis Mrizi<br> Director </p>
            </div>
          </div>
        </div>
      </main>
    </div>

  </div>
</div>
