<!-- Main Content area -->
<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input formControlName="programeStartDate" matInput [matDatepicker]="picker"
              placeholder="Program Start Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input formControlName="programeEndDate" matInput [matDatepicker]="picker1" placeholder="Program End Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select (selectionChange)="getSubProgram($event)" placeholder="Program" formControlName="programID">
              <mat-option *ngFor="let res of programList; let i = index" [value]="res.id">
                {{res.programName}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <div *ngIf="f.controls['programID'].value && subProgramList.length > 0" class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Sub Program" formControlName="subProgramID">
              <mat-option *ngFor="let res of subProgramList; let i = index" [value]="res.id">
                {{res.subProgramName}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Program Participant" formControlName="chapFamily">
              <mat-option *ngFor="let res of chapProgramList; let i = index" [value]="res.name">
                {{res.name}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Campus" formControlName="campus">
              <mat-option *ngFor="let res of campusList; let i = index" [value]="res.id">
                {{res.campus}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Format" formControlName="format">
              <mat-option *ngFor="let res of formatList; let i = index" [value]="res.value">
                {{res.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Meal Plan" formControlName="mealPlan">
              <mat-option *ngFor="let res of mealPlanList; let i = index" [value]="res.name">
                {{res.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Addins" formControlName="programeAddins" multiple>
              <mat-option *ngFor="let obj of addinsList; let i = index" [value]="obj.id">
                {{obj.addins}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left" color="primary"
        (click)="onSubmit()">Save</button>
      <button mat-raised-button class="btn btn-primary m-left" color="primary" (click)="saveAndClose()">Save & Close
      </button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>

    </div>
  </mat-card-actions>
</mat-card>
