<div class="container-fluid">
  <div class="user-page">
    <div class="row">
      <div class="col-md-3 mobile-head">
        <div class="dashboard-heading">

          <!-- <h6 class="with-icon bdr-heading">
            <span [class]="">Sub Programs</span>
          </h6> -->
        </div>
      </div>
      <div class="col-md-1 d-block d-sm-block d-md-none mobile-icon">
        <div class="btn-show">
          <mat-icon (click)="router.navigate(['/addSubProgram'])"> <i class="material-icons">
              add_circle
            </i></mat-icon>
        </div>
      </div>
      <div class="col-md-6">
        <form action="" class="form-fields show-search">

          <div class="form-group">
            <mat-form-field>
              <input matInput id="filter-text-box" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)">
              <mat-icon matSuffix>search</mat-icon>

            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="col-md-3 d-none d-sm-none d-md-block tablet-icon">
        <div class="btn-show">
          <button mat-raised-button class="export-btn" (click)="onBtnExport()">Download</button>
          <button mat-icon-button>
          <mat-icon (click)="router.navigate(['/addSubProgram'])"> <i class="material-icons">
              add_circle
            </i></mat-icon>
            </button>
        </div>
      </div>
    </div>
  </div>
  <div class="all-show-grid" >
     <ag-grid-angular style="height: 100%;
    max-width: 100%;
    width: 100vw;" class="ag-theme-material" [enableColResize]="true" enableColResize
      enableSorting enableFilter groupHeaders suppressRowClickSelection toolPanelSuppressGroups toolPanelSuppressValues
      (cellDoubleClicked)="onCellClicked($event)" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
      [rowData]="subProgramList" (gridReady)="onGridReady($event)" [modules]="modules" #grid></ag-grid-angular>
  </div>


</div>
