<ngx-loading [show]="loading"></ngx-loading>
<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="studentRegisterForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input readonly matInput formControlName="reg_Ref" placeholder="Student Number"
              [required]="submitted && studentRegisterForm.controls['reg_Ref'].hasError('required')">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['reg_Ref'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div hidden="true" class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Year" formControlName="year">
              <mat-option *ngFor="let res of yearList; let i = index" [value]="res.value">
                {{res.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && studentRegisterForm.controls['year'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Group Ref #" formControlName="groupID">
              <mat-option [value]="0">Select Group</mat-option>
              <mat-option *ngFor="let res of groupList; let i = index" [value]="res.id">
                {{res.agencyRef}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <button mat-raised-button type="button" class="btn btn-secondary" (click)="getBygroupId()">Copy
            Details</button>
          <mat-form-field style="width: auto;
          margin-left: 10px;">
            <input matInput formControlName="passportNumber" placeholder="Passport Number"
              [required]="submitted && studentRegisterForm.controls['passportNumber'].hasError('required')">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['passportNumber'].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name"
              [required]="submitted && studentRegisterForm.controls['firstName'].hasError('required')">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['firstName  '].hasError('required') ">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['lastName'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option *ngFor="let obj of genderList; let i = index" [value]="obj.name">
                {{obj.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && studentRegisterForm.controls['gender'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input (dateInput)="calculateAge()" formControlName="dob" matInput [matDatepicker]="picker"
              placeholder="Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="submitted && studentRegisterForm.controls['dob'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="age" placeholder="Age" type="number">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['age'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="homeAddress" placeholder="Home Address">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['homeAddress'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="city" placeholder="City">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['city'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="state" placeholder="Province/State"
              [required]="submitted && studentRegisterForm.controls['state'].hasError('required')">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['state'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="country" placeholder="Country">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['country'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="postCode" placeholder="Postal Code">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['postCode'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="phone" placeholder="Phone Number">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['phone'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['email'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="emergencyContact" placeholder="Emergency Contact">
            <mat-error *ngIf="submitted && studentRegisterForm.controls['emergencyContact'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <mat-select (selectionChange)="selectValue($event.value)" placeholder="Agency" formControlName="agencyID">
              <mat-option *ngFor="let res of agentList; let i = index" [value]="res.id">
                {{res.agent}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-slide-toggle formControlName="active">Active
          </mat-slide-toggle>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h3>Select Profile</h3>
          <div class="form-group">
            <button type="button" mat-raised-button (click)="fileInput.click()">Browse...</button>
            <button type="button" (click)="previewUrl = ''" mat-raised-button color="warn">Remove</button>
            <input hidden (change)="fileProgress($event)" #fileInput type="file" id="file">
          </div>
          <div *ngIf="fileUploadProgress">
            Upload progress: {{ fileUploadProgress }}
          </div>
          <div class="image-preview mb-3" *ngIf="previewUrl">
            <img [src]="previewUrl" height="300" />
          </div>
          <div class="mb-3" *ngIf="uploadedFilePath">
            {{uploadedFilePath}}
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left" color="primary"
        (click)="onSubmit()">Save</button>
      <button mat-raised-button class="btn btn-primary m-left" color="primary" (click)="saveAndClose()">Save & Close
      </button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
