<div id="invoice">
  <div class="invoice overflow-auto">
    <div class="container-fluid" style="min-width: 600px">
      <div id="btns" class="action-panel no-print">
        <button (click)="captureScreen()" mat-raised-button class="btn btn-primary" color="primary">Download</button>
        <button (click)="print()" mat-raised-button class="btn btn-secondary">Print</button>
      </div>
      <main>
        <div class="row contacts">
          <div class="col-md-12 ">
            <h4 class="heading">AIRPORT SERVICE AND ACCOMMODATION CONFIRMATION</h4>
          </div>
        </div>
        <div class="row contacts">
          <div class="col-md-12 mtable">
            <table border="0" cellspacing="0" cellpadding="0">
              <tbody style="line-height: 0.05;">
                <tr>
                  <td style="width: 15%;"><b>Student Name:</b></td>
                  <td style="width:25%">{{student?.firstName}}&nbsp;{{student?.lastName}}</td>
                  <td class="text-right" style="width: 30%; vertical-align: text-top ;"><b></b></td>
                  <td style="width: 35%;">
                  </td>
                </tr>
                <tr>
                  <td style="width: 15%;"><b>Flight Information:</b></td>
                  <td style="width:10%">Date: &nbsp;&nbsp;{{student?.arrivalDate | date: 'longDate'}}</td>
                  <td style="width:20%">Flight: &nbsp;&nbsp;{{student?.flightNumber || 'N/A'}}</td>
                  <td style="width: 10%;">Arrival Time: &nbsp;&nbsp;{{student?.arrivalTime | date: 'hh:mm a'}}
                  </td>
                </tr>
                <tr>
                  <td style="width: 15%;"><b>Person picking up:</b></td>
                  <td style="width: 35%;">Eli Camps staff member holding out sign and wearing our uniform
                  </td>
                  <!-- <td class="text-right" style="width: 30%; vertical-align: text-top ;"></td> -->
                </tr>
                <tr>
                  <td style="width: 15%;"><b>Passport Number:</b></td>
                  <td style="width:20%">{{student?.passportNumber}}</td>
                  <td class="text-right" style="width: 30%; vertical-align: text-top ;"></td>
                  <td style="width: 35%;">
                  </td>
                </tr>
                <!-- <tr>
                  <td style="width: 15%;"><b></b></td>
                  <td style="width:20%"></td>
                  <td class="text-right" style="width: 30%; vertical-align: text-top ;"></td>
                  <td style="width: 35%;">Mexico.
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <div class="">
          <p> The staff will pick you up when you exit the baggage claim area. They have your name and your information
          </p>
          <p>
            If you cannot see the logo or find the staff don’t worry. It’s ok. Please go to the information desk of the
            terminal (picture below). Out staff member will come there to meet you. Emergency information is provided
            below.
          </p>
          <p>Should you have any questions, please feel free to contact us anytime. We are more than happy to help.
          </p>
          <div class="row">
            <div class="col-8">
              <img src="assets/images/logo.png" width="350px" alt="signature">
            </div>
            <div class="col-4">
              <img src="assets/images/2.png" width="350px" alt="signature">
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="row">
          <div class="col-md-3">
            <h5 style="color: #007bff;">Eli Camps</h5>
          </div>
          <div class="col-md-6">
            <h5 style="color: #007bff;">EliCamps emergency contact information</h5>
            <h5 style="color: #007bff;">Telephone, WhatsApp, WeChat: +1.416.305.3143</h5>
          </div>
          <div class="col-md-3">
            <h5 style="color: #007bff;">www.elicamps.com</h5>
          </div>
        </div>
      </footer>
    </div>

  </div>
</div>
