.container {
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

.container > * {
  width: 100%;
}

.form {
  height: 400px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
::ng-deep.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 100%;
  overflow: auto;
  min-height: 200px;
}
::ng-deep.mat-dialog-actions {
  text-align: right !important;
}
.action-btn {
  float: right;
}
.btn,
.btn-primary {
  margin-right: 10px;
}
.text-right {
  float: right;
}
table {
  margin-top: 12px;
}
