<div class="container">
  <h3 mat-dialog-title>Trip Manager</h3>
  <form class="form mat-dialog-content" [formGroup]="tripForm">
    <table width="100%">
      <tr>
        <td>
          <mat-form-field>
            <mat-select placeholder="Select Trip" formControlName="groupTrips" multiple>
              <mat-option *ngFor="let res of tripList; let i = index" [value]="res.id">
                {{res.trips}}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </td>
      </tr>
    </table>
    <div mat-dialog-actions class="action-panel text-right">
      <button mat-raised-button [disabled]="!tripForm.controls['groupTrips'].value"  color="primary" (click)="onSubmit()" type="button"
        class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
