<!-- Main Content area -->
<mat-card class="example-card">
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">

        <div class="col-md-4 form-group">

          <mat-form-field>
            <input formControlName="programeStartDate" matInput [matDatepicker]="picker" placeholder="Arrival Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="submitted && registerForm.controls['programeStartDate'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>

        </div>

        <div class="col-md-4 form-group">
          <mat-form-field>
            <input formControlName="programeEndDate" matInput [matDatepicker]="picker1" placeholder="Departure Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="submitted && registerForm.controls['programeEndDate'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="terminal" placeholder="Terminal">
            <mat-error *ngIf="submitted && registerForm.controls['terminal'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="departureTerminal" placeholder="Departure Terminal">
            <mat-error *ngIf="submitted && registerForm.controls['departureTerminal'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="flightNumber" placeholder="Flight Number">
            <mat-error *ngIf="submitted && registerForm.controls['flightNumber'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="departureFlightNumber" placeholder="Departure Flight Number">
            <mat-error *ngIf="submitted && registerForm.controls['departureFlightNumber'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="destinationFrom" placeholder="Destination From">
            <mat-error *ngIf="submitted && registerForm.controls['destinationFrom'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="destinationTo" placeholder="Destination To">
            <mat-error *ngIf="submitted && registerForm.controls['destinationTo'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-label>Flight Arrival Time</mat-label>
          <kendo-timepicker [placeholder]="'Arrival Time'" class="form-control" formControlName="arrivalTime">
          </kendo-timepicker>
        </div>

        <div class="col-md-4 form-group">
          <mat-label>Flight Departure Time</mat-label>
          <kendo-timepicker [placeholder]="'Flight Departure Time'" class="form-control"
            formControlName="flightDepartureTime"></kendo-timepicker>

        </div>
      </div>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button class="btn btn-primary m-left" color="primary"
        (click)="onSubmit()">Save</button>
      <button mat-raised-button class="btn btn-primary m-left" color="primary" (click)="saveAndClose()">Save & Close
      </button>
      <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>

    </div>
  </mat-card-actions>
</mat-card>
