<!-- Main Content area -->
<ngx-loading [show]="loading"></ngx-loading>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon (click)="location.back()" class="cursor"> <i class="material-icons">
          arrow_back
        </i></mat-icon>
      <h3 class="form-heading">{{isEdit ? 'UPDATE PROGRAM' : 'CREATE PROGRAM'}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="programName" maxlength="35" placeholder="Program Name"
              [required]="submitted && registerForm.controls['programName'].hasError('required')">
            <mat-error *ngIf="submitted && registerForm.controls['programName'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-checkbox formControlName="isDefault" class="col-md-2">isDefault</mat-checkbox>
        </div>
        <div class="col-md-4 form-group">
          <label></label>
          <mat-slide-toggle formControlName="active">Active
          </mat-slide-toggle>
          <mat-error *ngIf="submitted && registerForm.controls['active'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
<button mat-raised-button class="btn btn-primary m-left"
(click)="onSubmit()" color="primary">{{isEdit ? 'Update' : 'Create'}}</button>
     <button mat-raised-button class="btn btn-secondary m-left" color="warn" (click)="Cancel_Click()">Cancel</button>

    </div>
  </mat-card-actions>
</mat-card>
