<div class="container-fluid">
  <mat-icon class="cursor" (click)="backNavigation()"> <i class="material-icons">
      arrow_back
    </i></mat-icon>
  <h3 class="form-heading">
    {{isEdit && selectedStudent ? shared.getStudentInfoState()?.firstName+' '+shared.getStudentInfoState()?.lastName : 'CREATE STUDENT'}}
  </h3>
  <mat-horizontal-stepper (selectionChange)="onLinkClick($event)" #stepper>
    <mat-step>
      <ng-template matStepLabel>Student Information</ng-template>
      <app-student-information (onStudentRegistration)="onTabChange($event, stepper)" [student]='selectedStudent'>
      </app-student-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Flight Information</ng-template>
      <app-flight-information (onStudentRegistration)="onTabChange($event, stepper)" [student]='selectedStudent'>
      </app-flight-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Medical Information</ng-template>
      <app-medical-information (onStudentRegistration)="onTabChange($event, stepper)" [student]='selectedStudent'>
      </app-medical-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Program Information</ng-template>
      <app-program-information (programUpdated)="getSelectedStudent(studentId)" [student]='selectedStudent' (onStudentRegistration)="onTabChange($event, stepper)">
      </app-program-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Accomodation</ng-template>
      <app-accomodation [student]='selectedStudent' (onStudentRegistration)="onTabChange($event, stepper)">
      </app-accomodation>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment Information</ng-template>
      <app-payment-information (studentEvent)="getSelectedStudent(studentId)" [student]='selectedStudent'
        (onStudentRegistration)="onTabChange($event, stepper)">
      </app-payment-information>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Trips Manager</ng-template>
      <app-trips-manager [student]='selectedStudent' (onStudentRegistration)="onTabChange($event, stepper)">
      </app-trips-manager>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>File Manager</ng-template>
      <app-file-manager></app-file-manager>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Notes</ng-template>
      <app-notes [student]='selectedStudent'></app-notes>
    </mat-step>
  </mat-horizontal-stepper>

</div>
