<!-- Main Content area -->
<ngx-loading [show]="loading"></ngx-loading>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon (click)="location.back()" class="cursor"> <i class="material-icons">
          arrow_back
        </i></mat-icon>
      <h3 class="form-heading">{{isEdit ? 'UPDATE CAMPUS' : 'CREATE CAMPUS'}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="campusForm" class="form-fields">
      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="campus" placeholder="Campus"
              [required]="submitted && campusForm.controls['campus'].hasError('required')">
            <mat-error *ngIf="submitted && campusForm.controls['campus'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="addressOnReports" placeholder="Address On Reports"
              [required]="submitted && campusForm.controls['addressOnReports'].hasError('required')">
            <mat-error *ngIf="submitted && campusForm.controls['addressOnReports'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="completeName" placeholder="Complete Name"
              [required]="submitted && campusForm.controls['completeName'].hasError('required')">
            <mat-error *ngIf="submitted && campusForm.controls['completeName'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <mat-form-field>
            <input matInput formControlName="onelineaddress" placeholder="One line address"
              [required]="submitted && campusForm.controls['onelineaddress'].hasError('required')">
            <mat-error *ngIf="submitted && campusForm.controls['onelineaddress'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 form-group">
          <label></label>
          <mat-slide-toggle formControlName="active">Active
          </mat-slide-toggle>
          <mat-error *ngIf="submitted && campusForm.controls['active'].hasError('required')">
            *Required Field
          </mat-error>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="action-btns">
      <button mat-raised-button type="submit" (click)="onSubmit()" class="btn btn-primary"
        color="primary">{{isEdit ? 'Update': 'Create'}}</button>
      <button mat-raised-button type="button" (click)="Cancel_Click()" class="btn btn-secondary"
        color="warn">Cancel</button>
    </div>
  </mat-card-actions>
</mat-card>
