/* You can add global styles to this file, and also import other style files */
@import "@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import "@ag-grid-community/all-modules/dist/styles/ag-theme-material.css";
@import "~ngx-toastr/toastr";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-filemanager/styles/material.css";

html,
.white-background {
  margin: 0;
  // color: #3a405b;
  padding: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  // font-family: Roboto, sans-serif;
  background: #f3f3f4;
  height: 100%;
  background-image: url("assets/images/home-image1.jpg") !important;
  background-repeat: no-repeat;
}

// body {
//   padding-bottom: 20px;
//   border: 1px solid red;
// }
html,
body {
  margin: 0;
  // color: #3a405b;
  padding: 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  // font-family: Roboto, sans-serif;
  background: #fff;
  height: 100%;
  background-image: none !important;
  background-repeat: no-repeat;
}

h5,
h6 {
  font-family: "Open Sans", sans-serif;
  margin: 24px 0 16px;
}

mat-form-field {
  width: 100%;
}

.dashbord-padd {
  // padding: 0 35px 0 100px;
  min-height: 550px;

  .dashboard-heading {
    padding: 10px;

    .bdr-heading {
      display: inline-block;
      padding-left: 10px;
      margin-bottom: 20px;

      &:before {
        left: 12px;
      }

      span {
        font-size: 28px;
        padding-right: 0;
      }
    }

    p {
      color: grey;
      font-size: 20px;
      margin: 0;
    }

    img {
      width: 26px;
      height: 26px;
    }
  }
}

.mat-toolbar.mat-primary {
  background-color: #f5f5f5 !important;
  box-shadow: -2px -42px 34px 21px #283593;
}

// ::ng-deep.btn-primary {
//   color: #fff !important;
//   background-color: #ff5722;
//   border-color: #ff5722;
//   font-size: 14px;
//   line-height: 20px;
//   min-width: 190px;
//   &:focus,
//   &:hover {
//     color: #fff !important;
//     background-color: #ff5722 !important;
//     border-color: #ff5722 !important;
//   }
// }
// .btn-primary:not(:disabled):not(.disabled):active,
// .show > .btn-primary.dropdown-toggle {
//   color: #fff;
//   background-color: #ff5722;
//   border-color: #ff5722 !important;
// }
.btn-show {
  .material-icons {
    font-size: 50px;
    color: #ff5722;
    cursor: pointer;
  }

  text-align: right;
  padding: 10px;
}

.btn {
  padding: 0.5em 1.8em !important;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  margin-top: 5px !important;
  border-radius: 2px;
}

// .btn-primary {
//   background-color: #ff5722;
//   border-color: #ff5722;
//   color: #fff;
//   &:not(:disabled):not(.disabled):active {
//     background-color: #ff5722;
//     border-color: #ff5722;
//     color: #fff;
//     &:focus {
//       box-shadow: 0 5px 20px 0 #ff5722;
//       color: #fff;
//     }
//   }
// }
.form-heading {
  display: inline;
  padding-left: 10px;
}

.cursor {
  cursor: pointer;
}

.create-btn {
  @media (max-width: 767px) {
    float: right;
    margin-top: -40px;
  }
}

.menu-icon {
  width: 100%;

  .menu {
    float: right;
  }
}

.ag-row {
  cursor: pointer;
}

.error-msg {
  font-size: 12px;
  margin: 0;
  color: rgba(208, 2, 27, 0.62);
}

#invoice {
  // padding: 30px;
}

.invoice {
  position: relative;
  background-color: #fff;
  min-height: 680px;
  padding: 15px;
}

.invoice header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #3989c6;
}

.invoice .company-details {
  text-align: right;
}

.invoice .company-details .name {
  margin-top: 0;
  margin-bottom: 0;
}

.invoice .contacts {
  margin-bottom: 20px;
}

.invoice .invoice-to {
  text-align: left;
}

.invoice .invoice-to .to {
  margin-top: 0;
  margin-bottom: 0;
}

.invoice .invoice-details {
  text-align: right;
}

.invoice .invoice-details .invoice-id {
  margin-top: 0;
  color: #3989c6;
}

.invoice main {
  padding-bottom: 50px;
}

.invoice main .thanks {
  margin-top: -100px;
  font-size: 2em;
  margin-bottom: 50px;
}

.invoice main .notices {
  padding-left: 6px;
  border-left: 6px solid #3989c6;
}

.invoice main .notices .notice {
  font-size: 1.2em;
}

.invoice table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  // margin-bottom: 20px
}

.invoice table td,
.invoice table th {
  padding: 15px;
  background: #eee;
  border-bottom: 1px solid #fff;
  white-space: nowrap;
}

.invoice table th {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
}

.invoice table td h3 {
  margin: 0;
  font-weight: 400;
  color: #3989c6;
  font-size: 1.2em;
}

.invoice table .qty,
.invoice table .total,
.invoice table .unit {
  text-align: right;
  font-size: 1.2em;
}

.invoice table .no {
  color: #fff;
  font-size: 1.6em;
  background: #3989c6;
}

.invoice table .unit {
  background: #ddd;
}

.invoice table .total {
  background: #3989c6;
  color: #fff;
}

.invoice table tbody tr:last-child td {
  border: none;
}

.invoice table tfoot td {
  background: 0 0;
  border-bottom: none;
  white-space: nowrap;
  text-align: right;
  padding: 10px 20px;
  font-size: 1.2em;
  border-top: 1px solid #aaa;
}

.invoice table tfoot tr:first-child td {
  border-top: none;
}

.invoice table tfoot tr:last-child td {
  color: #3989c6;
  font-size: 1.4em;
  border-top: 1px solid #3989c6;
}

.invoice table tfoot tr td:first-child {
  border: none;
}

.invoice footer {
  width: 100%;
  text-align: center;
  color: #777;
  border-top: 1px solid #aaa;
  padding: 8px 0;
}

.mtable table td,
.mtable table th {
  padding: 10px;
  background: #fff;
  border-bottom: 1px solid #fff;
}

@media print {
  .invoice {
    font-size: 11px !important;
    overflow: hidden !important;
  }

  .invoice footer {
    position: absolute;
    bottom: 10px;
    page-break-after: always;
  }

  .invoice>div:last-child {
    page-break-before: always;
  }
}

.action-panel {
  padding: 20px 0;

  .btn-primary {
    height: 40px;
    line-height: 30px;
    border-radius: 34px;
    float: right;
    box-shadow: 0 3px 8px 0 #3f51b5;
  }

  .btn-secondary {
    height: 40px;
    line-height: 30px;
    border-radius: 34px;
    float: right;
    background-color: #ff5722;
    box-shadow: 0 3px 8px 0 #ff5722;
    color: #fff;
  }
}

input:read-only {
  opacity: 0.4;
  cursor: not-allowed !important;
}

@media print and (orientation: portrait) {

  .no-print,
  .no-print * {
    display: none !important;
  }
}

.mydiv {
  background-image: url("assets/images/certificate.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  background-position: center;
}

.full-width {
  width: 100%;
  min-height: 100vh;
}

.custom-width {
  width: 80%;
}

.main-content {
  min-height: 100vh;
  width: 100%;
}

.ag-theme-material {
  .ag-header {
    background-color: #f3f3f3;

    .ag-header-cell {
      background-color: #f3f3f3;
      border-right: none;
    }

    .ag-header-cell-label .ag-header-cell-text {
      color: #232323;
    }
  }

  .ag-header-group-text {
    color: #232323;
  }

  .ag-icon {
    color: #283593;
  }

  .ag-header-viewport {
    border-left: none;
    border-bottom: 2px solid #283593;
  }
}

.btn-show {

  .export-btn {
    vertical-align: middle;
    background-color: #008000;
    color: #fff
  }
}
.ag-theme-material {
  width: 100%;
  border: none;
  box-shadow: none;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;

  .ag-row {
    border-bottom: 1px solid #d2d2d2;
  }

  .ag-header {
    border-bottom: none;
  }

  .ag-body-viewport .ag-center-cols-clipper .ag-body-viewport.ag-layout-normal {
    background-color: transparent;
  }

  .ag-cell {
    line-height: 35px;
  }

  .ag-paging-panel {
    border-top: none;
    color: rgba(0, 0, 0, 0.54);
    height: 30px;
    padding: 0;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

    .ag-paging-row-summary-panel,
    .ag-paging-page-summary-panel {
      margin-left: 0;
      background-color: #fff;
      height: 30px;
      align-items: center;
    }

    .ag-paging-row-summary-panel {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .ag-paging-page-summary-panel {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .ag-center-cols-viewport {
    .ag-row {
      .ag-cell {
        border-right: none;
        border-left: none;
      }
    }
  }

  .ag-row {
    border-color: transparent;
    border-style: none;

    &.ag-row-odd {
      background-color: transparent;
    }
  }

  .ag-ltr {
    .ag-cell {
      border-right: 1px solid #cfede6;
    }
  }

  .ag-header-viewport {
    border-left: 1px solid #cfede6;

    .ag-header-cell {
      border-right: 1px solid #cfede6;
    }
  }

  .ag-cell,
  .ag-header-cell,
  .ag-header-group-cell {
    padding-left: 24px;
    padding-right: 20px;
    border-color: #f9f9f9;
  }

  .ag-pinned-left-header {
    border-right: none;
    margin-left: -1px;
  }

  .ag-root-wrapper.ag-layout-normal {
    height: calc(100vh);
    width: 100%;
  }

  .ag-horizontal-left-spacer,
  .ag-horizontal-right-spacer {
    border-right: none;
    overflow: hidden;
    border-left: none;
  }

  .ag-header {

    .ag-header-cell-label .ag-header-cell-text {
      font-weight: 600;
      font-size: 14px;
    }
  }

  .ag-header-group-text {
    font-weight: 600;
    font-size: 14px;
  }

  .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track,
  .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
  .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-track,
  .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb,
  .ag-primary-cols-list-panel::-webkit-scrollbar-track,
  .ag-primary-cols-list-panel::-webkit-scrollbar-thumb,
  .ag-tool-panel-wrapper::-webkit-scrollbar-track,
  .ag-tool-panel-wrapper::-webkit-scrollbar-thumb {
    background-color: #F4F4F4;
    border-radius: 8px;
  }

  .ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb,
  .ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb,
  .ag-primary-cols-list-panel::-webkit-scrollbar-thumb,
  .ag-virtual-list-viewport::-webkit-scrollbar-thumb,
  .ag-tool-panel-wrapper::-webkit-scrollbar-thumb {
    background-color: #A2A2A2;
    border-radius: 8px;
  }

  .ag-body-horizontal-scroll-viewport::-webkit-scrollbar,
  .ag-primary-cols-list-panel::-webkit-scrollbar {
    height: 10px;
  }

  .ag-body-viewport.ag-layout-normal::-webkit-scrollbar,
  .ag-primary-cols-list-panel::-webkit-scrollbar,
  .ag-virtual-list-viewport::-webkit-scrollbar,
  .ag-tool-panel-wrapper::-webkit-scrollbar {
    width: 10px;
    border-radius: 8px;
    background-color: #F4F4F4;
  }
}
h6 {
  margin: 16px 0px 16px 0px;
  font-size: 20px;
}
.export-btn {
  vertical-align: middle;
  background-color: #008000;
  color: #fff;
  margin: 5px !important;
}
.ag-theme-material .ag-root-wrapper.ag-layout-normal {
  height: calc(100vh - 125px);
  width: 100%;
}
