<div class="container" style="width: 300px;">
  <h3 mat-dialog-title>Payment</h3>

  <form  style="height: 300px;" class="form mat-dialog-content" [formGroup]="paymentFrom">

    <table width="100%">
      <tr>
        <td>
          <mat-form-field>
            <input formControlName="date" matInput [matDatepicker]="picker1" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-error *ngIf="submitted && paymentFrom.controls['date'].hasError('required')">
            *Required Field
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput formControlName="amount" placeholder="Amount"
              [required]="submitted && paymentFrom.controls['amount'].hasError('required')">
            <mat-error *ngIf="submitted && paymentFrom.controls['amount'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <textarea matInput formControlName="remarks" placeholder="Remarks"
              [required]="submitted && paymentFrom.controls['remarks'].hasError('required')">
              </textarea>
            <mat-error *ngIf="submitted && paymentFrom.controls['remarks'].hasError('required')">
              *Required Field
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
            <mat-slide-toggle formControlName="active">Active
            </mat-slide-toggle>
        </td>
      </tr>
    </table>
    <div mat-dialog-actions class="action-panel text-right">
      <button  mat-raised-button  (click)="onSubmit()"  color="primary" type="button" class="btn">Save</button>
      <button  mat-raised-button  (click)="dialogRef.close()"  color="primary" type="button" class="btn" color="warn">Close</button>

    </div>
  </form>
</div>
